.carasole-caption {
  display: none;
  position: absolute;
  bottom: 150px;
  left: 100px;
  color: #fff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

/* Show the caption only for the active slide */
input#img-1:checked ~ .carasole-caption#caption-1,
input#img-2:checked ~ .carasole-caption#caption-2,
input#img-3:checked ~ .carasole-caption#caption-3 {
  display: block;
}

.learnMore-btn{
    height: 4rem;
    width: 10rem;
    background-color: red;
    display: block;
}





.carousel {
  /* margin-left: 15%; */
  width: 100%;
  /* margin-right: 15%; */
}






/* Container for the slides */


.carousel-container {
  position: relative;
  width: 100%;
  /* margin: auto; */
  overflow: hidden;
  /* border-radius: 15px; */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  
}

.carousel-content {
  display: flex;
  transition: transform 0.3s cubic-bezier(0.25, 1, 0.5, 1);
}

.carousel-item {
  min-width: 100%;
  transition: opacity 0.8s ease-in-out;
  opacity: 0;
}

.carousel-item:nth-child(even) {
  background: linear-gradient(135deg, #f6d365 0%, #fda085 100%);
}

.carousel-item:nth-child(odd) {
  background: linear-gradient(135deg, #a1c4fd 0%, #c2e9fb 100%);
}

.carousel-item img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  /* border-radius: 15px; */
  animation: fade-in 1s ease-in;
  opacity: .9;
  z-index: -1;
 
}

.carousel-item.active {
  opacity: .9;
}

.carousel-text {
  position: absolute;
  bottom: 40%;
  left: 10%;
  /* transform: translateX(-50%); */
  
  color: #fff;
  opacity: 1;
  z-index: 100;
  
  
}

.carousel-text h2 {
  font-size: 2.5rem;
  color: #f0f0f0;
  margin-bottom: 10px;
  opacity: 1;
  /* text-align: center; */
  max-width: 30rem;
  animation: slide-up 1s ease-in-out;

}

.carousel-text h1{
  font-size: 6rem;
  font-weight: 700;
}

.carousel-text p {
  font-size: 1rem;
  animation: slide-up 1.5s ease-in-out;
}

.shop-button{
  position: absolute;
  left: 0;
}


.carousel-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: transparent;
  color: rgba(0, 0, 0, 0.699);
  border: none;
  cursor: pointer;
  z-index: 10;
  font-size: 2rem;
  opacity: 0;
  height: 100vh;
  transition: opacity 0.3s ease, color 0.3s ease;
}

.carousel-button:hover {
  color: black;
  opacity: 1;
}




.carousel-button.prev {
  left: 10px;
}

.carousel-button.next {
  right: 10px;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: .7;
  }
}

@keyframes slide-up {
  from {
    opacity: 0;
    transform: translateY(60px);
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}


