.navBar * {
  margin: 0 ;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  z-index: 1000;
}

.wrapper {
  background: transparent;
  position: fixed;
  width: 100%;
  border-bottom: 1px dotted rgba(0, 0, 0, 0.142);
}
.wrapper.scrolled{
  background: white;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  border-bottom: none;
}

.wrapper nav {
  position: relative;
  display: flex;
  max-width: calc(100% - 200px);
  margin: 0 auto;
  height: 70px;
  align-items: center;
  justify-content: space-between;
}

nav .content {
  display: flex;
  align-items: center;
  justify-content: space-around !important;
}

nav .content .links {
  margin-left: 80px;
  display: flex;
}

.content .logo a {
  color: #333;
  font-size: 30px;
  font-weight: 600;
}

.content .links li {
  list-style: none;
  line-height: 70px;
}

.content .links li a,
.content .links li label {
  color: #333;
  font-size: 18px;
  font-weight: 500;
  padding: 9px 17px;
  border-radius: 5px;
  transition: all 0.3s ease;
}

.content .links li label {
  display: none;
}

.content .links li a:hover,
.content .links li label:hover {
  color: #C19A6B;
}


.wrapper .menu-icon {
  color: #333;
  font-size: 18px;
  cursor: pointer;
  line-height: 70px;
  width: 70px;
  text-align: center;
}


.wrapper .menu-icon {
  display: none;
}

.wrapper #show-search:checked~.search-icon i::before {
  content: "MULTIPLICATION X";
}

.addToCart-search{
  display: flex;
  justify-content: center;
  align-items: center;
}



/* .search-box {
  position: fixed; 
  top: 60px;
  right: 10px;
  height: 60px;
  max-width: 100%;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease;
}

.search-box.active {
  opacity: 1;
  pointer-events: auto;
  right: 50px;
  

}

.search-box input {
  width: calc(100% - 80px); 
  height: 100%;
  border: none;
  outline: none;
  font-size: 17px;
  color: black;
  background: white;
  padding: 0 15px;
  border-radius: 4px;
}

.search-box input::placeholder {
  color: black;
}

.search-box .go-icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  line-height: 60px;
  width: 60px;
  background-color: #007bff;
  color: white;
  border: none;
  outline: none;
  font-size: 16px;
  cursor: pointer;
  border-radius: 4px;
}

.search-icon {
  font-size: 24px;
  cursor: pointer;
  color: black;
} */




.search-icon {
  font-size: 20px;
  color: #333;
  cursor: pointer;
  z-index: 10;
  margin-right: 0px;
  transition: color 0.3s ease;
}

.search-icon:hover {
  color: #C19A6B;
}

/* Search Form */
.search-box {
  position: relative;
  height: 70px;
  display:flex;
  align-items: center;
  overflow: hidden;
  transition: width 0.3s ease, opacity 0.3s ease;
  width: 0; /* Hidden by default */
  opacity: 0;
}

.search-box.active {
  width: 250px; /* Expanded width for larger screens */
  opacity: 1;
}

.search-box input {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  font-size: 16px;
  padding: 0 10px;
  border-radius: 4px;
  color: black;
  background: white;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
}

.search-box .go-icon {
  position: absolute;
  right: 0px;
  top: 50%;
  transform: translateY(-50%);
  line-height: 60px;
  width: 30px;
  /* background-color: #007bff; */
  background-color: transparent;
  color: black;
  border: none;
  outline: none;
  font-size: 16px;
  cursor: pointer;
  border-radius: 4px;
}

.search-box input::placeholder {
  color: #999;
}

.addToCart a:hover{
  color: #C19A6B;
  transition: .6s;
}

/* Responsive Design */
@media (max-width: 500px) {
  .search-box.active {
    width: 100%; /* Full width on smaller screens */
  }

  .search-icon {
    font-size: 20px; /* Slightly smaller icon on mobile */
  }

  .content .logo a{
    display: none !important;
  }
}






.wrapper input[type="checkbox"] {
  display: none;
}

/* Dropdown Menu code start */
.content .links ul {
  position: absolute;
  background: white;
  top: 80px;
  z-index: -1;
  opacity: 0;
  visibility: hidden;
}

.content .links li:hover>ul {
  top: 70px;
  opacity: 1;
  visibility: visible;
  transition: all 0.3s ease;
}

.content .links ul li a {
  display: block;
  width: 100%;
  line-height: 30px;
  border-radius: 0px !important;
}

.content .links ul ul {
  position: absolute;
  top: 0;
  right: calc(-100% + 8px);
}

.content .links ul li {
  position: relative;
}

.content .links ul li:hover ul {
  top: 0;
}

.addToCart a span{
  position: absolute;
  top: 10px;
  right:  50px;
  height: 1.2rem;
  width: 1.2rem;
  /* background-color: red; */
  border-radius: 50%;
  text-align: center;
  font-size: 13px;
  z-index: -1;
}



/* 
.addToCart {
  margin-left: 28rem;
  display: flex;
  gap: 1rem;
  justify-content: f;
}
 */



/* Responsive code start */
@media screen and (max-width: 1250px) {
  .wrapper nav {
      max-width: 100%;
      padding: 0 20px;
  }

  nav .content .links {
      margin-left: 30px;
  }

  .content .links li a {
      padding: 8px 13px;
  }

  .wrapper .search-box {
      max-width: calc(100% - 100px);
  }

  .wrapper .search-box input {
      padding: 0 100px 0 15px;
  }
}

@media screen and (max-width: 900px) {
  .wrapper .menu-icon {
      display: block;
  }

  .wrapper #show-menu:checked~.menu-icon i::before {
      content: "\f00d";
  }

  nav .content .links {
      display: block;
      position: fixed;
      background: white;
      height: 100%;
      width: 100%;
      top: 70px;
      left: -100%;
      margin-left: 0;
      max-width: 350px;
      overflow-y: auto;
      padding-bottom: 100px;
      transition: all 0.3s ease;
  }

  nav #show-menu:checked~.content .links {
      left: 0%;
  }

  .content .links li {
      margin: 15px 20px;
  }

  .content .links li a,
  .content .links li label {
      line-height: 40px;
      font-size: 20px;
      display: block;
      padding: 8px 18px;
      cursor: pointer;
  }

  .content .links li a.desktop-link {
      display: none;
  }

  /* dropdown responsive code start */
  .content .links ul,
  .content .links ul ul {
      position: static;
      opacity: 1;
      visibility: visible;
      background: none;
      max-height: 0px;
      overflow: hidden;
  }

  .content .links #show-features:checked~ul,
  .content .links #show-services:checked~ul,
  .content .links #show-items:checked~ul {
      max-height: 100vh;
  }

  .content .links ul li {
      margin: 7px 20px;
  }

  .content .links ul li a {
      font-size: 18px;
      line-height: 30px;
      border-radius: 5px !important;
  }

  .addToCart{
    margin-left: 0rem !important;
  }
}

@media screen and (max-width: 400px) {
  .wrapper nav {
      padding: 0 10px;
  }

  .content .logo a {
      font-size: 27px;
  }

  .wrapper .search-box {
      max-width: calc(100% - 70px);
  }

  .wrapper .search-box .go-icon {
      width: 30px;
      right: 0;
  }

  .wrapper .search-box input {
      padding-right: 30px;
  }
}

.dummy-text {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  z-index: -1;
  padding: 0 20px;
  text-align: center;
  transform: translate(-50%, -50%);
}

.dummy-text h2 {
  font-size: 45px;
  margin: 5px 0;
}
























